<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <preference for="Magenteiro\PrimeiroModulo\Console\Command\TestCommand" type="Magenteiro\Preferencia\Models\TestPreference"></preference>
    <type name="Magenteiro\PrimeiroModulo\Console\Command\TestCommand">
        <plugin name="primeiro_plugin" disabled="true" sortOrder="10" type="Magenteiro\PrimeiroPlugin\Plugin\MeuPlugin"/>
    </type>
</config>